<a href="https://colab.research.google.com/github/EnzoPavez/Datasets-Pavez-Enzo/blob/main/Datasets%2BPavez_Enzo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instalacion API Kaggle
Instalacion de las credencias de la API de Kaggle para descargar los datasets (solo es necesario ejecutar una vez)

In [ ]:
#Instala Kaggle
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.9/dist-packages (1.5.13)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.9/dist-packages (from kaggle) (8.0.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from kaggle) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from kaggle) (4.65.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.9/dist-packages (from kaggle) (1.26.15)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.9/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle) (3.4)

In [ ]:
#Crea la ruta necesaria para guardar el archivo de credenciales de la API
!mkdir ~/.kaggle

In [ ]:
#Descarga el archivo con las credenciales para la API de Kaggle en la carpeta actual
!gdown --id 1yI2x4qazF5vuMFw_aof-4laGe366TyrJ

/usr/local/lib/python3.9/dist-packages/gdown/cli.py:121: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1yI2x4qazF5vuMFw_aof-4laGe366TyrJ
To: /content/kaggle.json
100% 66.0/66.0 [00:00<00:00, 91.0kB/s]

In [ ]:
#Copia el archivo de credenciales de API en la carpeta ncesaria para que funcione
!cp kaggle.json ~/.kaggle/

In [ ]:
#Modificacion de permisos del archivo para su correcto funcionamiento
!chmod 600 ~/.kaggle/kaggle.json

In [ ]:
import pandas as pd

##Primer Dataset : Predecir la deserción y el éxito académico de los estudiantes
Fuente: https://www.kaggle.com/datasets/thedevastator/higher-education-predictors-of-student-retention

Este conjunto de datos proporciona una visión integral de los estudiantes matriculados en varios títulos universitarios que se ofrecen en una institución de educación superior. Incluye datos demográficos, factores socioeconómicos e información sobre el rendimiento académico que se pueden utilizar para analizar los posibles predictores de la deserción y el éxito académico de los estudiantes. Este conjunto de datos contiene varias bases de datos inconexas que contienen información relevante disponible en el momento de la inscripción, como el modo de solicitud, el estado civil, el curso elegido y más. Además, estos datos se pueden utilizar para estimar el rendimiento general de los estudiantes al final de cada semestre al evaluar las unidades curriculares acreditadas/inscritas/evaluadas/aprobadas, así como sus respectivas calificaciones. Finalmente, tenemos la tasa de desempleo, tasa de inflación y el PIB de la región, lo que puede ayudarnos a comprender mejor cómo los factores económicos influyen en las tasas de deserción estudiantil o los resultados de éxito académico. Esta poderosa herramienta de análisis proporcionará información valiosa sobre lo que motiva a los estudiantes a permanecer en la escuela o abandonar sus estudios por una amplia gama de disciplinas como la agronomía, el diseño, la educación, la enfermería, el periodismo, la gestión, el servicio social o las tecnologías.

In [ ]:
#Descarga del dataset en formato texto
!kaggle datasets download -d thedevastator/higher-education-predictors-of-student-retention

Downloading higher-education-predictors-of-student-retention.zip to /content
  0% 0.00/87.2k [00:00<?, ?B/s]
100% 87.2k/87.2k [00:00<00:00, 42.3MB/s]

In [ ]:
#Extrae el archivo de texto del comprimido descargado de Kaggle
!unzip -o higher-education-predictors-of-student-retention.zip

Archive:  higher-education-predictors-of-student-retention.zip
  inflating: dataset.csv

In [ ]:
df_hr = pd.read_csv('dataset.csv')

In [ ]:
df_hr.head()

,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Nacionality,Mother's qualification,Father's qualification,Mother's occupation,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,1,8,5,2,1,1,1,13,10,6,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,6,1,11,1,1,1,1,3,4,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,5,1,1,1,22,27,10,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,8,2,15,1,1,1,23,27,6,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,12,1,3,0,1,1,22,28,10,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [ ]:
df_hr.shape

(4424, 35)

In [ ]:
df_hr.columns.tolist()

['Marital status',
 'Application mode',
 'Application order',
 'Course',
 'Daytime/evening attendance',
 'Previous qualification',
 'Nacionality',
 "Mother's qualification",
 "Father's qualification",
 "Mother's occupation",
 "Father's occupation",
 'Displaced',
 'Educational special needs',
 'Debtor',
 'Tuition fees up to date',
 'Gender',
 'Scholarship holder',
 'Age at enrollment',
 'International',
 'Curricular units 1st sem (credited)',
 'Curricular units 1st sem (enrolled)',
 'Curricular units 1st sem (evaluations)',
 'Curricular units 1st sem (approved)',
 'Curricular units 1st sem (grade)',
 'Curricular units 1st sem (without evaluations)',
 'Curricular units 2nd sem (credited)',
 'Curricular units 2nd sem (enrolled)',
 'Curricular units 2nd sem (evaluations)',
 'Curricular units 2nd sem (approved)',
 'Curricular units 2nd sem (grade)',
 'Curricular units 2nd sem (without evaluations)',
 'Unemployment rate',
 'Inflation rate',
 'GDP',
 'Target']

### Descripcion de variables de interes


**Estado civil**	El estado civil del estudiante. (Categórico)

**Modo de aplicación**	El método de aplicación utilizado por el estudiante. (Categórico)

**Orden de aplicación**	El orden en que el estudiante aplicó. (Numérico)

**Curso**	El curso tomado por el estudiante. (Categórico)

**Asistencia diurna/nocturna**	Si el estudiante asiste a clases durante el día o la noche. (Categórico)

**Cualificación previa**	La calificación obtenida por el estudiante antes de ingresar a la educación superior. (Categórico)

**Nacionalidad**	La nacionalidad del estudiante. (Categórico)

**Cualificación de la madre**	La calificación de la madre del estudiante. (Categórico)

**Cualificación del padre**	La calificación del padre del estudiante. (Categórico)

**Profesión de la madre**	La ocupación de la madre del estudiante. (Categórico)

**Trabajo del padre	**La ocupación del padre del estudiante. (Categórico)

**Desplazado**	Si el estudiante es una persona desplazada. (Categórico)
necesidades educativas especiales	Si el alumno tiene alguna necesidad educativa especial. (Categórico)

**Deudor**	Si el estudiante es deudor. (Categórico)

**Tasas de matrícula al día**	 Si las tasas de matrícula del estudiante están al día. (Categórico)

**Género**	El género del estudiante. (Categórico)

**Beca titular**	Si el estudiante es becario. (Categórico)

**Edad de inscripción**	La edad del estudiante al momento de la 
inscripción. (Numérico)

**Internacional**	Si el estudiante es un estudiante internacional. (Categórico)

**Unidades curriculares 1er sem (acreditado)	** El número de unidades curriculares acreditadas por el estudiante en el primer semestre. (Numérico)

**Unidades curriculares 1er sem (matriculados)**	 El número de unidades curriculares matriculadas por el estudiante en el primer semestre. (Numérico)

**Unidades curriculares 1er sem (evaluaciones) **El número de unidades curriculares evaluadas por el estudiante en el primer semestre.
 (Numérico)

**Unidades curriculares 1er sem (aprobado)**	El número de unidades curriculares aprobadas por el estudiante en el primer semestre. (Numérico)

##Segundo Dataset : Global Billionaire Wealth & Sources [2002-2023]

Fuente: https://www.kaggle.com/datasets/salimwid/global-billionaire-wealth-and-sources-2002-2023

Este conjunto de datos ofrece una mirada integral a los multimillonarios del mundo desde el año 2002 hasta la actualidad, en medio de un contexto de despidos generalizados y turbulencia económica.El conjunto de datos proporciona información sobre la demografía y el éxito de las personas más ricas del mundo. Puede ser útil para comprender cómo algunos han logrado prosperar durante tiempos económicos difíciles. Por otro lado, también se puede utilizar para explorar las crecientes brechas de desigualdad en todo el mundo.

In [ ]:
#Descarga del dataset en formato texto
!kaggle datasets download -d salimwid/global-billionaire-wealth-and-sources-2002-2023

Downloading global-billionaire-wealth-and-sources-2002-2023.zip to /content
  0% 0.00/2.88M [00:00<?, ?B/s]
100% 2.88M/2.88M [00:00<00:00, 145MB/s]

In [ ]:
#Extrae el archivo de texto del comprimido descargado de Kaggle
!unzip -o global-billionaire-wealth-and-sources-2002-2023.zip

Archive:  global-billionaire-wealth-and-sources-2002-2023.zip
  inflating: billionaire_list_20yrs.csv

In [ ]:
df_hr = pd.read_csv('billionaire_list_20yrs.csv')

In [ ]:
df_hr.head()

,Unnamed: 0,name,last_name,age,gender,time,permanent_country,company,main_industry,wealth_source_details,industry,state,headquarters,countries,annual_income,daily_income,birth_year,name_cleaned
0,675,Abdulla bin Ahmad Al Ghurair,Al Ghurair,67,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,261928,1955,abdulla_bin_ahmad_al_ghurair
1,676,Abdulla bin Ahmad Al Ghurair,Al Ghurair,67,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,399254,1955,abdulla_bin_ahmad_al_ghurair
2,677,Abdulla bin Ahmad Al Ghurair,Al Ghurair,67,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,536021,1955,abdulla_bin_ahmad_al_ghurair
3,678,Abdulla bin Ahmad Al Ghurair,Al Ghurair,67,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,410391,1955,abdulla_bin_ahmad_al_ghurair
4,679,Abdulla bin Ahmad Al Ghurair,Al Ghurair,67,M,2013,United Arab Emirates-Dubai,Mashreq Bank,Diversified,diversified,Diversified;Banking,NaN,NaN,are,95604000,558904,1955,abdulla_bin_ahmad_al_ghurair

In [ ]:
df_hr.shape

(352369, 18)

In [ ]:
df_hr.columns.tolist()

['Unnamed: 0',
 'name',
 'last_name',
 'age',
 'gender',
 'time',
 'permanent_country',
 'company',
 'main_industry',
 'wealth_source_details',
 'industry',
 'state',
 'headquarters',
 'countries',
 'annual_income',
 'daily_income',
 'birth_year',
 'name_cleaned']

### Descripcion de variables de interes

- **Nombre**
- **Apellido**
- **Edad**
- **Género**
- **País de residencia permanente**
- **Compañía**
-**Año nacimiento**
- **Industria principal** industria de la cual los individuos obtienen la mayor parte de sus fuentes de riqueza
- **Fuente de riqueza** otros detalles sobre las fuentes de riqueza
-**industria** otras industrias en las que el individuo está involucrado}
-**estado**
solo para personas con sede en EE. UU.
-**sede**
solo para personas con sede en EE. UU.
-**países**
otros países en los que las personas pueden tener su sede.
-**ingresos anuales**
ingreso anual para un año en particula
-**ingresos_diarios**
ingresos diarios para un año en particula

##Tercer Dataset : Amazon Sales Dataset

Fuente: https://www.kaggle.com/datasets/karkavelrajaj/amazon-sales-dataset

Este conjunto de datos tiene los datos de 1K+ Calificaciones y reseñas de productos de Amazon según sus detalles enumerados en el sitio web oficial de Amazon

In [ ]:
#Descarga del dataset en formato texto
!kaggle datasets download -d karkavelrajaj/amazon-sales-dataset

Downloading amazon-sales-dataset.zip to /content
  0% 0.00/1.95M [00:00<?, ?B/s]
100% 1.95M/1.95M [00:00<00:00, 137MB/s]

In [ ]:
#Extrae el archivo de texto del comprimido descargado de Kaggle
!unzip -o amazon-sales-dataset.zip

Archive:  amazon-sales-dataset.zip
  inflating: amazon.csv

In [ ]:
df_hr = pd.read_csv('amazon.csv')

In [ ]:
df_hr.head()

,product_id,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories|Accessories&Peripherals|...,₹399,"₹1,099",64%,4.2,"24,269",High Compatibility : Compatible With iPhone 12...,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories|Accessories&Peripherals|...,₹199,₹349,43%,4.0,"43,994","Compatible with all Type C enabled devices, be...","AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,Computers&Accessories|Accessories&Peripherals|...,₹199,"₹1,899",90%,3.9,"7,928",【 Fast Charger& Data Sync】-With built-in safet...,"AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...","Kunal,Himanshu,viswanath,sai niharka,saqib mal...","R3J3EQQ9TZI5ZJ,R3E7WBGK7ID0KV,RWU79XKQ6I1QF,R2...","Good speed for earlier versions,Good Product,W...","Not quite durable and sturdy,https://m.media-a...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-iPhone-Charging-C...
3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,Computers&Accessories|Accessories&Peripherals|...,₹329,₹699,53%,4.2,"94,363",The boAt Deuce USB 300 2 in 1 cable is compati...,"AEWAZDZZJLQUYVOVGBEUKSLXHQ5A,AG5HTSFRRE6NL3M5S...","Omkar dhale,JD,HEMALATHA,Ajwadh a.,amar singh ...","R3EEUZKKK9J36I,R3HJVYCLYOY554,REDECAZ7AMPQC,R1...","Good product,Good one,Nice,Really nice product...","Good product,long wire,Charges good,Nice,I bou...",https://m.media-amazon.com/images/I/41V5FtEWPk...,https://www.amazon.in/Deuce-300-Resistant-Tang...
4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,Computers&Accessories|Accessories&Peripherals|...,₹154,₹399,61%,4.2,"16,905",[CHARGE & SYNC FUNCTION]- This cable comes wit...,"AE3Q6KSUK5P75D5HFYHCRAOLODSA,AFUGIFH5ZAFXRDSZH...","rahuls6099,Swasat Borah,Ajay Wadke,Pranali,RVK...","R1BP4L2HH9TFUP,R16PVJEXKV6QZS,R2UPDB81N66T4P,R...","As good as original,Decent,Good one for second...","Bought this instead of original apple, does th...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Portronics-Konnect-POR-1...

In [ ]:
df_hr.shape

(1465, 16)

In [ ]:
df_hr.columns.tolist()

['product_id',
 'product_name',
 'category',
 'discounted_price',
 'actual_price',
 'discount_percentage',
 'rating',
 'rating_count',
 'about_product',
 'user_id',
 'user_name',
 'review_id',
 'review_title',
 'review_content',
 'img_link',
 'product_link']

### Descripcion de variables de interes

**product_id** - ID del producto

**product_name** - Nombre del Producto

**categoría** - Categoría del Producto

**discounted_price** - Precio con descuento del producto

**precio_actual** - Precio real del producto

**discount_percentage** - Porcentaje de Descuento para el Producto

**rating** - Valoración del Producto

**rating_count** - Número de personas que votaron por la calificación 
de Amazon

**about_product** - Descripción sobre el Producto

**user_id** - ID del usuario que escribió la reseña del Producto

**user_name**: nombre del usuario que escribió la reseña del producto

**review_id** - ID de la reseña del usuario

**review_title** - Breve reseña

**review_content** - Reseña larga

**img_link** - Enlace de imagen del producto

**product_link** - Enlace del sitio web oficial del producto